.account-history-order {
    margin-bottom: 60px;
    max-width: 960px;
    &--order{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(68, 121, 163, 0.12);
        padding: 24px 0;
        margin-bottom: 0;
        &:last-of-type{
            margin-bottom: 50px;
        }
        .account-history-order__subtitle {
            margin: 0 5px;
            span {
                margin: 0 10px;
            }
        }
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 4px;
        color: #333333;
    }
    &__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;

        color: #333333;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            text-align: right;
            color: #a4a9bb;
        }
    }
    &__adress{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #A4A9BB;
    }
    &__body {
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(68, 121, 163, 0.12);
        padding: 20px 0;
        gap: 20px;
    }
    &__img {
        flex: 1 0 0;
        width: 60px;
    }
    &__name {
        color: #324c9a;
        span {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: #333333;
        }
    }
    &__count {
    }
    &__price {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: right;
        color: #333333;
        flex-shrink: 0;
        span {
            display: block;
            font-size: 15px;
            line-height: 20px;

            text-align: right;

            color: #a4a9bb;
        }
    }
    &__delete {
        width: 21px;
        height: 21px;
        background-image: url("../img/icons-sprite.svg#icon-basket-delete");
        background-repeat: no-repeat;
        background-size: 100%;
        flex-shrink: 0;
    }
    &__itog {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        color: #a4a9bb;
    }
    &__footer {
        padding: 20px 0;
        gap: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-price {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            text-align: right;
            color: #333333;
        }
    }
    @include r(767){
        &--order{
            display: block;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(68, 121, 163, 0.12);
            padding: 24px 0;
            margin-bottom: 0;
            &:last-of-type{
                margin-bottom: 35px;
            }
            .account-history-order__subtitle {
                margin: 10px 0 15px;
                display: block;
                span {
                    margin: 0 10px;
                }
            }
        }
    }
}
