.api-integration{
	&__title{
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #333333;
		margin: 0 0 32px;
	}

	&__items{
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
		grid-gap: 22px;
	}
	&__item{
		border: 1px solid rgba(68, 121, 163, 0.12);
		border-radius: 5px;
		padding: 25px;
		p{
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: #333333;
		}
	}
	&__name{
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 23px;
		color: #333333;
	}
}