.articles{
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	padding-bottom: 20px;
	margin-bottom: 64px;
	overflow: hidden;
	&__header{
		margin-bottom: 32px;
	}
	&__title{
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 36px;
		color: #000000;
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
		grid-gap: 30px 39px;
	}
	&__item{
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			opacity: .7;
		}
	}
	&__img{
		display: block;
		overflow: hidden;
		border-radius: 5px;
		margin-bottom: 20px;
		text-decoration: none;

		img{
			display: block;
			max-width: 100%;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__txt{
		display: block;
		text-decoration: none;
	}
	&__name{
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 23px;
		color: #333333;
		margin-bottom: 20px;
		text-decoration: none;
		display: block;
	}
	&__anons{
		margin: 0 0 14px;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		color: #333333;
	}
	&__time{
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		color: #333333;
	}
	&__more{
		margin-top: 30px;
		text-align: center;
		.btn{
			max-width: 240px;
			width: 100%;
		}
	}
	@include r(1023){
		&__body{
			grid-template-columns: repeat(4, minmax(310px, 1fr));
			overflow-x: scroll;
			overflow-y: hidden;
		}
	}
	@include r(767){
		&__title{
			font-size: 20px;
			line-height: 24px;
		}
	}
}