.breadcrumb{
	display: flex;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	li{
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		color: #A4A9BB;
		position: relative;
		white-space: nowrap;
		&:after{
			content: '';
			display: inline-block;
			margin: 0 10px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #A4A9BB;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
		a,span{
			color: #A4A9BB;
			text-decoration: none;
		}
	}
	@include r(1024){
		overflow-x: scroll;
	}
}

.breadcrumb-catalog{
	&__ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
			margin-right: 32px;
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	&__item{
		display: flex;
		align-items: center;
		max-width: 200px;
	}
	&__img{
		margin-right: 10px;
		width: 42px;
		height: 42px;
		flex-shrink: 0;
		img{
			display: block;
			max-width: 100%;
			object-fit: cover;
			height: auto;
		}
	}
	&__txt{
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		display: flex;
		align-items: center;
		a{
			color: #324C9A;
			text-decoration: none;
			white-space: normal;
		}
	}
	&__dropdown{
		z-index: 100;
		background-color: #fff;
		right: 0;
		margin: 0;
		padding: 20px;
		list-style: none;
	}
	&__dropdown-toggle{
		display: inline-block;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		user-select: none;
		border: 1px solid transparent;
		padding: .563rem 1.4rem;
		border-radius: 4px;
		cursor: pointer;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
	}
}