.breadcrumb{
	display: flex;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	li{
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		color: #A4A9BB;
		position: relative;
		white-space: nowrap;
		&:after{
			content: '';
			display: inline-block;
			margin: 0 10px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #A4A9BB;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
		a,span{
			color: #A4A9BB;
			text-decoration: none;
		}
	}
	@include r(1024){
		overflow-x: scroll;
	}
}

.breadcrumb-catalog{
	&__ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
			margin-right: 32px;
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	&__item{
		display: flex;
		align-items: center;
		max-width: 250px;
	}
	&__img{
		margin-right: 10px;
		width: 42px;
		height: 42px;
		flex-shrink: 0;
		img{
			display: block;
			max-width: 100%;
			object-fit: cover;
			height: auto;
		}
	}
	&__txt{
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		display: flex;
		align-items: center;
		a{
			color: #324C9A;
			text-decoration: none;
		}
	}
	&__dropdown{

	}
	&__dropdown-toggle{

	}
}