.breadcrumb {
    display: flex;
    margin: 10px 0;
    padding: 0;
    list-style: none;
    li {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        color: #a4a9bb;
        position: relative;
        white-space: nowrap;
        margin: 0;
        &:after {
            content: "";
            display: inline-block;
            margin: 0 10px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #a4a9bb;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
        a,
        span {
            color: #a4a9bb;
            text-decoration: none;
        }
    }
    &__menu {
        position: relative;
        cursor: pointer;
        &:hover{
            .breadcrumb__down{
                display: block;
            }
            span {
                display: inline-block;
                position: relative;
                padding-right: 20px;
                &:after {
                
                    transform: rotate(180deg);
                }
            }
        }
        span {
            display: inline-block;
            position: relative;
            padding-right: 20px;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 8px;
                height: 8px;
                margin-top: -6px;
                background-image: url("../img/icons-sprite.svg#arrow-select-dark");
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
        li {
            margin-bottom: 10px;
            &:after {
                display: none;
            }
            &.active{
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -15px;
                    width: 10px;
                    height:10px;
                    margin-top: -6px;
                    background-image: url("../img/icons-sprite.svg#icon-check-item");
                    background-repeat: no-repeat;
                    background-size: 100%;
                }   
            }
            &:last-of-type{
                margin-bottom: 0;
            }

            a {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 24px;
                color: #333333;
                &:hover{
                    opacity: .7;
                }
            }
        }
    }
    &__down {
        display: none;
        background: #ffffff;
        box-shadow: 0px 4px 14px rgba(50, 76, 154, 0.25);
        border-radius: 4px;
        margin: 0;
        padding: 20px 26px;
        list-style: none;
        position: absolute;
        z-index: 10;
    }
    @include r(1024) {
        overflow-x: scroll;
    }
}

.breadcrumb-catalog {
    position: relative;

    &__ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
            margin-right: 32px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        max-width: 200px;
    }
    &__img {
        margin-right: 10px;
        width: 42px;
        height: 42px;
        flex-shrink: 0;
        img {
            display: block;
            max-width: 100%;
            object-fit: cover;
            height: auto;
        }
    }
    &__txt {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        display: flex;
        align-items: center;
        a {
            color: #324c9a;
            text-decoration: none;
            white-space: normal;
        }
    }
    &__dropdown {
        z-index: 100;
        background-color: #fff;
        right: 0;
        margin: 0;
        padding: 20px;
        list-style: none;
        box-shadow: 0px 4px 14px rgba(50, 76, 154, 0.25);
        border-radius: 4px;
        width: 319px;
        .breadcrumb-catalog__item {
            display: flex;
            align-items: center;
            max-width: 100%;
        }
    }
    &__dropdown-toggle {
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.563rem 1.4rem;
        border-radius: 4px;
        cursor: pointer;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
    }
    &__dropdown-wrapper {
        position: absolute;
        top: 0;
        right: 0;
    }
}
