.catalog-detail {
    margin: 20px 0;
    &__promotion {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-gap: 20px;
        margin: 20px 0;
    }
    &__about-company {
        display: flex;
        align-items: center;
        gap: 13px;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__photo {
        max-width: 604px;
        flex: 1 0 0;
        .gallery-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .gallery-main {
            width: 450px;
            height: 450px;
            margin-left: 20px;
            margin-right: 0;
        }

        .gallery-thumbs {
            order: -1;
            width: 74px;
            height: 450px;

            .swiper-slide {
                img {
                    transition: 0.3s;
                }

                &-active {
                    opacity: 0.9;
                }

                &-thumb-active {
                    opacity: 1;
                }
            }
        }
        img{
            max-width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    &__right{
        max-width: 630px;
    }
    &__rating {
        display: flex;
        align-items: center;
    }
    &__dop {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 37px;
        a {
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 24px;
            color: #324c9a;
            text-decoration: none;
        }
    }
    a{
        color: #324C9A;
        text-decoration: none;
    }
    .btn.no {
        margin-bottom: 10px;
        display: block;
        padding: 21px 38px;
        font-size: 17px;
        line-height: 24px;
    }
    .information{
        max-width: 400px;
    }
    .tabs__content{
        p{
            max-width: 647px;
        }
    }
    @include r(1023){
        &__row {
            display: block;
        }
        &__photo {
            max-width: 100%;
            flex: 1 0 0;
            margin-bottom: 20px;
            .gallery-container {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
    
            .gallery-main {
                width: 100%;
                height: 320px;
                margin-left: 0;
                margin-right: 0;
            }
    
            .gallery-thumbs {
                display: none;
    
                .swiper-slide {
                    img {
                        transition: 0.3s;
                    }
    
                    &-active {
                        opacity: 0.9;
                    }
    
                    &-thumb-active {
                        opacity: 1;
                    }
                }
            }
        }
        &__right{
            max-width: 100%;
        }
    }
    @include r(767){
        &__izbranoe{
            display: none;
        }
        &__add-review{
            display: none;
        }
        &__articul{
            color: #A4A9BB;
        }
        &__rating{
            color: #A4A9BB;
        }
        &__header{
            text-align: center;
        }
    }

}
