.catalog-info {
    border-radius: 4px;
    overflow: hidden;
    &--not {
        background: #ffffff;
        border: 1px solid rgba(68, 121, 163, 0.12);
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 32px;
        .catalog-info__header {
            background: transparent;
            padding: 21px 20px 0;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 36px;
        }
        .catalog-info__body {
            background: transparent;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding: 0 20px 20px;
            flex-wrap: wrap;
        }
    }
    &__header {
        background: rgba(201, 67, 84, 0.12);
        padding: 8px 20px;
    }
    &__body {
        background: rgba(201, 67, 84, 0.08);
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
    }
    &__price {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        color: #333333;
        margin-bottom: 25px;
    }
    &__strike {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 17px;
        color: #a4a9bb;
        position: relative;
        display: inline;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 100%;
            height: 1px;
            background-color: #eb5757;
        }
    }
    &__btn {
        position: relative;
        padding-left: 48px;
        text-align: left;
        margin-bottom: 6px;
        &:hover {
            color: #fff !important;
            background-color: #6fcf97 !important;
            border-color: #6fcf97 !important;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -12px;
            background-image: url("../img/icons-sprite.svg#basket-btn-white");
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }
    }
    &__notify-arrival {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 23px;
        color: #324c9a;
        text-decoration: none;
        margin-top: 26px;
        display: block;
    }
    .count-number__body {
        margin: 6px 0;
        padding: 21px 12px;
        .count-number__minus,
        .count-number__plus {
            width: 24px;
            height: 24px;
        }
        input {
            font-size: 20px;
        }
    }
}
