.catalog{
    position: relative;
    &--list{
        &.hide{
            display: none;
        }
        &.active{
            display: block;
        }
    }
    &--block{
        display: none;
        &.hide{
            display: none;
        }
        &.active{
            display: block;
        }

    }
    &.active {
        border-right: 1px solid rgba(68, 121, 163, 0.12);
        .add-quantity-store {
            display: block;
        }
    }
    &__add-quantity-store {
        max-width: 300px;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        background-color: #fff;
        z-index: 10;
    }
}