.filter {
    margin: 20px 0;
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 20px;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        grid-gap: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 16px 20px;
        background-color: #4479a31f;
        border-radius: 4px;
        &.general {
            grid-column-start: 1;
            grid-column-end: -1;
            grid-row-start: 2;
            grid-row-end: 2;
            display: flex;
            .jq-selectbox__select {
                height: 40px;
                padding: 0 45px 0 0;
                
                background: transparent;
                border: none;
                font: 17px/40px HelveticaNeueCyr, sans-serif;
                color: #333;
                text-shadow: none;
            }
        }
    }
    .switch-mode {
        margin-right: 0;
        margin-left: auto;
    }
    &__cost {
        display: flex;
        align-items: center;
        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 24px;
            color: #333333;
            margin-right: 9px;
            flex-shrink: 0;
        }
        &-dif {
            margin: 0 5px;
        }
        .form-control {
            max-width: 120px;
            position: relative;
            &:after {
                content: "₽";
                position: absolute;
                top: 0;
                right: 0;
                font-size: 17px;
                line-height: 24px;
                color: #a4a9bb;
                width: 10px;
                height: 24px;
            }
        }
    }
    &__count {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        color: #333333;
        a {
            margin-left: 20px;
        }
    }
    &__adap {
        display: none;
    }
    a {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 24px;
        color: #324c9a;
        text-decoration: none;
    }
    &__btn {
        display: none;
    }
    .jq-selectbox__select {
        height: 40px;
    
        border-radius: 4px;
        background: #ffffff;
        border: 1px solid #dde8f4;
        box-sizing: border-box;
        box-shadow: none;
        font: 13px/40px HelveticaNeueCyr, sans-serif;
        color: #333;
        text-shadow: none;
    }
    @include r(1023) {
        &__body {
            display: flex;
            justify-content: space-between;
        }
        &__btn {
            display: inline-block;
            width: fit-content;
            &.btn-primary {
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                color: #333333;
            }
        }
        &__item {
            display: none;
            &.general {
                display: none;
            }
        }
        &__adap {
            display: flex;
            gap: 20px;
            align-items: center;
            .jq-selectbox__select {
                height: 40px;
                padding: 0 45px 0 16px;
                border-radius: 4px;
                background: transparent;
                border: none;
                font: 17px/40px HelveticaNeueCyr, sans-serif;
                color: #333;
                text-shadow: none;
            }
        }
        &__count{
            display: flex;
            justify-content: space-between;
        }
    }
    @include r(767){
        &__body {
            flex-wrap: wrap;
        }
        &__adap {
            display: flex;
            gap: 20px;
           
            align-items: center;
            .jq-selectbox__select {
                height: 40px;
                padding: 0 35px 0 0;
                border-radius: 4px;
                background: transparent;
                border: none;
                font: 15px/40px HelveticaNeueCyr, sans-serif;
                color: #333;
                text-shadow: none;
            }
        }
    }
}
