.footer {
	background: #F1F5F9;
	padding: 24px 0;

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__logo{
		margin-bottom: 23px;
	}
	&__info{
		max-width: 148px;
		p{
			margin: 0;
		}
		span{
			display: block;
			margin-top: 12px;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			/* or 138% */


			/* font / second */

			color: #A4A9BB;
		}
		a{
			display: block;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			color: #324C9A;
			text-decoration: none;
			&:hover{
				opacity: .7;
				transition: all .3s ease;
			}
		}
	}
	&__nav{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			margin-bottom: 14px;
		}
		a{
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: #333333;
			text-decoration: none;
			transition: all .3s ease;
			&:hover{
				transition: all .3s ease;
				opacity: .7;
			}
		}
	}
	&__social{
		margin-bottom: 24px;
		&-title{
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: #000000;
			margin-bottom: 12px;
		}
		&-item{
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			width: 44px;
			height: 44px;
			display: inline-block;
			margin-right: 16px;
			&:last-of-type{
				margin-right: 0;
			}
		}
		.facebook{
			background-image: url("../img/social-sprite.svg#facebook");
		}
		.vkontakte{
			background-image: url("../img/social-sprite.svg#vkontakte");
		}
		.instagram{
			background-image: url("../img/social-sprite.svg#instagram");
		}
		.youtube{
			background-image: url("../img/social-sprite.svg#youtube");
		}
	}
	&__app{
		text-decoration: none;
		&-title{
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 20px;
			color: #000000;
			margin-bottom: 12px;
		}
		a{
			transition: all .3s ease;
			&:hover{
				transition: all .3s ease;
				opacity: .7;
			}
		}
	}
	&__copy{
		display: flex;
		margin-top: 56px;
		p{
			margin: 0;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			color: #A4A9BB;
			max-width: 916px;
		}
		a{
			display: block;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 18px;
			color: #324C9A;
			text-decoration: none;
			&:hover{
				opacity: .7;
				transition: all .3s ease;
			}
		}
	}
}