.information {
    min-width: 290px;
    width: fit-content;
    margin-bottom: 18px;
    &__ul {
        margin: 0;
        padding: 0;
        list-style: none;
        &--order {
            margin-left: 0;
            margin-bottom: 27px;
            width: 100%;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 3px 0 0;
                list-style-type: none;
                list-style-position: inside;
                position: relative;
                margin: 0 !important;
                &:after {
                    display: none;
                }
                &:last-of-type {
                    span {
                        margin-right: 0;
                    }
                }
                .price {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 32px;
                    text-align: right;
                    color: #222222;
                }
                .status {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 24px;
                    color: #888e94;
                }
                span {
                    font-family: Circe;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 32px;
                    color: #222222;
                    padding: 0 !important;
                    margin-right: 20px;
                }
            }
        }
        &--catalog-info {
            .label {
                margin-right: -50%;
                width: 49%;
                vertical-align: top;
                overflow: hidden;
                display: inline-block;
                letter-spacing: normal;
                &:after {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    margin: 0 -99% 0 3px;
                    vertical-align: baseline;
                    border-bottom: 1px solid #a4a9bb !important;
                }
            }
        }
        li {
            display: block;
            padding: 3px 0 0;
            margin-bottom: 10px;
            position: relative;
            display: block;
            letter-spacing: -1ex;
            margin: 5px 0;
            .label {
                margin-right: -50%;
                width: 49%;
                vertical-align: top;
                overflow: hidden;
                display: inline-block;
                letter-spacing: normal;
                &:after {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    margin: 0 -99% 0 3px;
                    vertical-align: baseline;
                    border-bottom: 1px dashed #a4a9bb;
                }
            }
            .value {
                display: inline-block;
                letter-spacing: normal;
                padding-left: 3px;
                margin-left: 50%;
                width: 50%;
                vertical-align: bottom;
            }
        }
    }

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 23px;
        color: #333333;
        margin-bottom: 8px;
    }

    @include r(767) {
        &__ul {
            &--order {
                margin-left: 0;
                margin-bottom: 0;
                max-width: 100%;
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 3px 0 0;
                    list-style-type: none;
                    list-style-position: inside;
                    position: relative;
                    margin: 0 !important;
                    &:after {
                        display: none;
                    }
                    .price {
                        font-family: Circe;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 32px;
                        text-align: right;
                        color: #222222;
                    }
                    .status {
                        font-family: Circe;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 24px;
                        color: #888e94;
                    }
                    span {
                        font-size: 15px;
                        line-height: 20px;
                        color: #222222;
                    }
                }
            }
        }
    }
}
