.landing3 {
    &__title {
        text-align: center;
        img {
            max-width: 100%;
            display: block;
            height: auto;
            margin: 0 auto;
        }
    }
    &__elka {
        position: relative;
        height: 1725px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            background-image: url("../img/landing3/elka.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 1515px;
            height: 1856px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            background-image: url("../img/landing3/snow.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 1360px;
            height: 1260px;
        }
        .products {
            margin-bottom: 0;
            max-width: 180px;
            margin: 0 auto;
        }
        .products__item {
            background-color: transparent;
            padding: 10px;
            border-radius: 8px;
            position: relative;
            text-align: center;
            &::before{
                content: '';
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translate(-50%,0);
                background-color: #fff;
                width: 6px;
                height: 60px;
                border-radius: 10px;
            }
        }
        .products__img {
            border-radius: 50%;
            overflow: hidden;
            width: 160px;
            height: 160px;
            margin: 0 auto 8px;
        }
        .products__name {
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #ffffff;
        }
        .elka-inner {
            position: relative;
            z-index: 10;
            padding-top: 225px;
            justify-content: space-around;
        }
        .elka {
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            &.elka1 {
             
             top: 235px;
            }
            &.elka2 {
                top: 475px;
                margin-left: -163px;
            }
            &.elka3 {
                top: 475px;
                margin-left: 163px;
            
            }
            &.elka4 {
                top: 735px;
                margin-left: -308px;
            }
            &.elka5 {
               top: 700px;
            }
            &.elka6 {
                top: 735px;
                margin-left: 314px;
            }
            &.elka7 {
               top: 1034px;
               margin-left: -375px;
            }
            &.elka8 {
                top: 1215px;
                margin-left: -196px;
            }
            &.elka9 {
                top: 1034px;
            }
            &.elka10 {
                top: 1215px;
                margin-left: 202px;
            }
            &.elka11 {
                top: 1034px;
                margin-left: 381px;
            }
            &.elka12 {
             top: 1440px;
             margin-left: -440px;
        
            }
            &.elka13 {
             top: 1440px;
            }
            &.elka14 {
             top: 1440px;
             margin-left: 445px;
            }
        }
        .elka-fai1{
            position: absolute;
            top: -140px;
            left: 0;
            background-image: url("../img/landing3/fai1.png");
            width: 479px;
            height: 507px;
            pointer-events: none;
        }
        .elka-fai2{
            position: absolute;
            top: 0;
            right: 0;
            background-image: url("../img/landing3/fai2.png");
            width: 735px;
            height: 740px;
            z-index: -1;
        }
        .elka-fai3{
            position: absolute;
            top: 400px;
            left: 50%;
            transform: translate(-50%,0);
            background-image: url("../img/landing3/fai3.png");
            width: 100%;
            height: 890px;
            z-index: -1;
        }
       
        .btn-link {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            margin-bottom: 60px;
            color: #ffffff;
            position: relative;
        }
    }
    .elka-img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .other-store {
        font-size: 13px;
        line-height: 16px;
        color: #a4a9bb;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -3px;
            background-image: url(../img/icons-sprite.svg#arrow-select-gray);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 6px;
            height: 6px;
        }
    }

    @include r(1023) {
        &__elka {
            height: 3858px;
            &::before {
                display: none;
            }
            .elka-header {
                position: relative;
                height: 1118px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-image: url("../img/landing3/bg-landing3-1.png");
                    background-repeat: no-repeat;
                    background-position: top;
                    width: 2009px;
                    height: 1118px;
                }
            }
            .elka-body {
                position: relative;
                height: 1969px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-image: url("../img/landing3/bg-landing3-2.png");
                    background-repeat: repeat-y;
                    background-position: top;
                    width: 2009px;
                    height: 100%;
                }
            }
            .elka-inner {
               
                grid-template-areas:
                    ". elka1 ."
                    "elka2 elka3 elka4"
                    ". elka5 ."
                    "elka6 elka7 elka8"
                    ". elka9 ."
                    "elka10 elka11 ."
                    "elka12 elka13 elka14"
                    ". footer .";
                grid-gap: 180px 20px;
                padding-top: 0;
                top: -755px;
            }
            .elka {
           

                &.elka1 {
                    grid-area: elka1;
                    width: 100%;
                }
                &.elka2 {
                    grid-area: elka2;
                    width: 45%;
                    .products{
                        margin: 0 0 0 auto;
                    }
                }
                &.elka3 {
                    grid-area: elka3;
                    width: 45%;
                    .products{
                        margin: 0 auto 0 0;
                    }
                }
                &.elka4 {
                    grid-area: elka4;
                    width: 29%;
                    margin-left: 0;
                }
                &.elka5 {
                    grid-area: elka5;
                    width: 29%;
                    margin-top: 50px;
                }
                &.elka6 {
                    grid-area: elka6;
                    width: 29%;
                    margin-top: 0;
                }
                &.elka7 {
                    grid-area: elka7;
                    width: 29%;
                    margin-right: 0;
                    margin-top: 80px;
                }
                &.elka8 {
                    grid-area: elka8;
                    width: 29%;
                    position: relative;
                    &:before{
                        content: '';
                       display: none;
                    }
                }
                &.elka9 {
                    grid-area: elka9;
                    width: 29%;
                    margin-top:80px;
                }
                &.elka10 {
                    grid-area: elka10;
                    width: 29%;
                    margin-top:80px;
                }
                &.elka11 {
                    grid-area: elka11;
                    width: 29%;
                    margin-top:0;
                }
                &.elka12 {
                    grid-area: elka12;
                    width: 29%;
                    position: relative;
                    margin-top:80px;
                    &:before{
                        content: '';
                        display: none;
                    }
                }
                &.elka13 {
                    grid-area: elka13;
                    width: 29%;
                    position: relative;
                    &:before{
                        content: '';
                        display: none;
                    }
                }
                &.elka14 {
                    grid-area: elka14;
                    width: 29%;
                    margin-top: 50px;
                }
                &.elka15 {
                    grid-area: elka15;
                    width: 29%;
                    margin-top: 0;
                }
                &.elka16 {
                    grid-area: elka16;
                    width: 45%;
                    margin-top:0;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 160px;
                        left: 0;
                        background-image: url(../img/landing3/elka-decor-3.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 94px;
                        height: 206px;
                        pointer-events: none;
                    }
                }
                &.elka17 {
                    grid-area: elka17;
                    width: 45%;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 160px;
                        right: -50px;
                        background-image: url(../img/landing3/elka-decor-4.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        width: 94px;
                        height: 206px;
                        pointer-events: none;
                    }
                }
            }
            
        }
    }

    @include r(767) {
        &__elka {
            height: 5000px;
            .elka-header {
                position: relative;
                height: 1118px;
                &::before {
                }
            }
            .elka-body {
                position: relative;
                height: 3000px;
                &::before {
                }
            }
            .products__item {
                background-color: transparent;
                padding: 10px;
                border-radius: 8px;
                position: relative;
                text-align: center;
                background-color: #fff;
                &::before{
                    content: '';
                    display: none;
                }
            }
            .products__img {
                border-radius: 0;
                overflow: hidden;
                width: 160px;
                height: 160px;
                margin: 0 auto 8px;
            }
            .products__name {
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                line-height: 20px;
                text-align: center;
                color: #324C9A;
            }
            .elka-inner {
                display: grid;
                grid-template-areas:
                    "elka1 elka2"
                    "elka3 elka4"
                    "elka5 elka6"
                    "elka7 elka8"
                    "elka9 elka10"
                    "elka11 elka12"
                    "elka13 elka14"
                    "elka15 elka16"
                    "elka17 ."
                    "footer footer";
                grid-gap: 55px 10px;
                justify-content: center;
            }
            .elka {
                max-width: 260px;
                width: 100%!important;
                &.elka1 {
                    grid-area: elka1;
                    margin-top: 160px;
                }
                &.elka2 {
                    grid-area: elka2;
                    margin-top: -100px;
                    transform: skew(1deg, -1deg);
                }
                &.elka3 {
                    grid-area: elka3;
                    transform: skew(-1deg, 1deg);
                }

                &.elka4 {
                    grid-area: elka4;
                    margin-top: 200px;
                    transform: skew(1deg, -1deg);
                }
                &.elka5 {
                    grid-area: elka5;
                    transform: skew(-1deg, 1deg);
                    margin-top: 200px;
                }
                &.elka6 {
                    grid-area: elka6;
                    margin-top: 0;
                    transform: skew(1deg, -1deg);
                }
                &.elka7 {
                    grid-area: elka7;
                    transform: skew(-1deg, 1deg);
                }
                &.elka8 {
                    grid-area: elka8;
                    margin-top: 200px;
                    transform: skew(1deg, -1deg);
                }
                &.elka9 {
                    grid-area: elka9;
                    transform: skew(-1deg, 1deg);
                    margin-top: 200px;
                }
                &.elka10 {
                    grid-area: elka10;
                    transform: skew(1deg, -1deg);
                    margin-top: 0px;
                }
                &.elka11 {
                    grid-area: elka11;
                    margin-top: 0;
                    transform: skew(-1deg, 1deg);
                }
                &.elka12 {
                    margin-top: 200px;
                    grid-area: elka12;
                    transform: skew(1deg, -1deg);
                }
                &.elka13 {
                    grid-area: elka13;
                    margin-top: 200px;
                    transform: skew(-1deg, 1deg);
                }
                &.elka14 {
                    margin-top: 0;
                    grid-area: elka14;
                    transform: skew(1deg, -1deg);
                }
                &.elka15 {
                    grid-area: elka15;
                    width: 29%;
                    margin-top: 0;
                }
                &.elka16 {
                    grid-area: elka16;
                    width: 45%;
                    margin-top: 200px;
                    position: relative;
                    &:before{
                        content: '';
                      display: none;
                    }
                }
                &.elka17 {
                    grid-area: elka17;
                    width: 45%;
                    position: relative;
                    &:before{
                        content: '';
                       display: none;
                    }
                }
            }
            
        }
    }
}
