.menu {
    border: 1px solid #e0e0e0;
    height: auto;
    background-color: #fff;
    display: none;
    position: absolute;
    width: 100%;
    &.open {
        display: block;
        z-index: 100;
    }
    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        position: relative;
        margin-bottom: 34px;
    }
    &__close {
        width: 24px;
        height: 24px;
        top: 0;
        right: 0;
        position: absolute;
        display: inline-block;
        cursor: pointer;
        padding: 0;
        border: none;
        background-color: transparent;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../img/icons-sprite.svg#close);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &:hover{
            opacity: .7;
        }
    }
    &__link {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 30px;
        &:hover{
            span{
                text-decoration: underline;
            }
        
        }
        &--stoked {
        }
        &--action {
        }
        .stick__item{
            margin-right: 12px;
            text-decoration: none;
            
        }
    }
    &__list {
        margin: 0 -20px;
        padding: 0;
        list-style: none;
        position: relative;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        column-count: 3;
        column-gap: 0;
        & > li {
            break-inside: avoid;
            max-width: 280px;
            width: 100%;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            & > a {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                text-decoration: none;
                color: #333333;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    margin: 24px -12px;
                    padding: 5px 12px;
                    &.active {
                        background: rgba(68, 121, 163, 0.12);
                        border-radius: 4px;
                        color: #333;
                        padding: 5px 12px;
                    }
                    &:hover {
                        transition: all 0.3s ease;
                        background: rgba(68, 121, 163, 0.12);
                        border-radius: 4px;
                        color: #333;
                        padding: 5px 12px;
                    }
                    a {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 24px;
                        text-decoration: none;
                        color: #585c5f;
                    }
                }
            }
        }
    }
   
}
