.nav {
	position: relative;
	&__burger{
		position: relative;
		width: 24px;
		height: 24px;
		z-index: 10;
		cursor: pointer;
		margin-left: auto;
		border: none;
		background-color: transparent;
		display: none;
		padding: 0;
		pointer-events: auto;
		background-image: url("../img/icons-sprite.svg#icon-burger-dark");
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		&.active{
			display: block;
		}
		li{
			margin-left: 42px;
			&:first-of-type{
				margin-left: 20px;
			}
			a{
				font-style: normal;
				font-weight: bold;
				font-size: 17px;
				line-height: 23px;
				color: #333333;
				text-decoration: none;
				transition: all .3s ease;
				white-space: nowrap;
				&:hover{
					transition: all .3s ease;
					opacity: .7;
				}
			}
		}
	}
	@include r(1023){
		&__burger{

			display: block;
		}
		ul{
			display: none;
			position: absolute;
			background-color: #fff;
			right: 0;
			z-index: 10;
			padding: 20px;
			border-radius: 4px;
			width: 208px;
			li{
				margin: 0 0 10px;
			}
		}
	}

}