.partners {
  display: flex;
  justify-content: space-between;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
  }
  &__txt{
    max-width: 643px;
  }
  &__img {
    overflow: hidden;
    margin-left: 37px;
    min-width: 360px;
    img{
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }

  &__form {
    max-width: 420px;
  }
  .mb-80{
    margin-bottom: 80px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #333333;
    margin: 0 0 32px;
  }
  @include r(767){
    flex-wrap: wrap;
    &__img {
      overflow: hidden;
      margin-left: 0;
      margin-top: 30px;
      min-width: 360px;
      width: 100%;
    }
  }
}