.price-special {
    background-color: rgba(#6fcf97, 0.1);
    border-radius: 4px;
    padding: 20px;
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 4px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #a4a9bb;
        margin: 0;
        margin-top: 5px;
        a{
            color: inherit;
        }
    }
    .btn {
        background-color: #6fcf97;
        border-color: #6fcf97;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: #ffffff;
        padding: 5px 8px;
    }
}
