.registration {
  &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 20px;
  }
  a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #324C9A;
  }
}