.sertificat{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,256px));
    grid-gap: 20px;
    &__img{
        display: block;
        text-decoration: none;
        img{
            max-width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }
    }
    @include r(767){
        grid-template-columns: 1fr 1fr;
    }
}