.slider-banners {
  margin-bottom: 40px;
  &__text{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    color: #000000;
    margin-top: 40px;
    max-width: 1023px;
  }
  img{
    display: block;
  }
  .swiper-slide {
    width: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
    transform: rotate(180deg);
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: '';
    width: 100%;
    height: 100%;
    color: #999;
    background-image: url("../img/icons-sprite.svg#slider-arrow")!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
  }

  .swiper-pagination{
    width: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    padding: 14px 16px;
    background: rgba(50, 76, 154, 0.1);
    border-radius: 16px 16px 0px 0px;
  }

  .swiper-pagination-bullet {
    background: #324C9A;
    opacity: 0.3;
    &-active{
      opacity: 1;
    }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }

}