.slider-season{
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	padding-bottom: 20px;
	margin-bottom: 64px;
	&__header{
		margin-bottom: 32px;
	}
	&__title{
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 36px;
		color: #000000;
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(203px, 1fr));
		grid-gap: 30px 28px;
	}
	&__item{
		max-width: 203px;
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			opacity: .7;
		}
	}
	&__img{
		display: block;
		overflow: hidden;
		border-radius: 5px;
		margin-bottom: 20px;
		text-decoration: none;
		position: relative;
		img{
			display: block;
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__txt{
		display: block;
		text-decoration: none;
		position: absolute;
		width: 100%;
		height: auto;
		bottom: 0;
		left: 0;
		padding: 12px;

	}
	&__name{
		font-size: 17px;
		line-height: 24px;
		color: #FFFFFF;
	}
	&__count{
		font-size: 15px;
		line-height: 20px;
		color: #FFFFFF;
	}
}