.slider-banners {
    margin-bottom: 40px;
    &--landing3 {
        margin-bottom: 87px;
        .slider-banners__body {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -193px;
                right: 90px;
                background-image: url("../img/slider-banners-decor.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                width: 156px;
                height: 193px;
            }
        }
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        color: #ffffff;
        margin-bottom: 35px;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;

        color: #000000;
        margin-top: 40px;
        max-width: 1023px;
    }
    &__btn {
        display: none;
    }
    img {
        display: block;
    }
    .swiper-slide {
        width: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 44px;
        height: 44px;
        background-color: #fff;
        border-radius: 0 4px 4px 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
        transform: rotate(180deg);
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        content: "";
        width: 100%;
        height: 100%;
        color: #999;
        background-image: url("../img/icons-sprite.svg#slider-arrow") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
    }

    .swiper-pagination {
        width: auto;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        padding: 14px 16px;
        background: rgba(50, 76, 154, 0.1);
        border-radius: 16px 16px 0px 0px;
    }

    .swiper-pagination-bullet {
        background: #324c9a;
        opacity: 0.3;
        &-active {
            opacity: 1;
        }
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 10px;
    }
    @include r(1023) {
        &--landing3 {
            margin-bottom: 87px;
            .slider-banners__body {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: -98px;
                    right: 90px;
                    background-image: url("../img/slider-banners-decor.svg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 80px;
                    height: 100px;
                }
            }
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
    }
    @include r(767) {
        &--landing3 {
            margin-bottom: 87px;
            .slider-banners__body {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: -98px;
                    right: 90px;
                    background-image: url("../img/slider-banners-decor.svg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 80px;
                    height: 100px;
                }
            }
            .btn.btn-outline-primary{
                border-color: #fff;
                color: #fff;
            }
        }
        &__title {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 35px;
        }
        &__btn {
            display: inline-block;
            margin: 0 auto;
        }
        .swiper-container {
            text-align: center;
        }
        .swiper-wrapper {
            flex-direction: column;
            gap: 12px;
            margin-bottom: 12px;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            border-radius: 4px;
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
        .swiper-pagination {
            display: none;
        }
    }
}
