.slider-collection{
	margin-bottom: 60px;
	overflow: hidden;
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;
	}
	&__title{
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 36px;
		color: #000000;
	}
	&__body{
		display: grid;
		grid-template-columns: 280px 1060px;
		grid-gap: 30px 20px;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	&__item{
		max-width: 340px;
		display: flex;
		align-items: center;
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			opacity: .7;
		}
	}
	&__img{
		display: block;
		overflow: hidden;
		border-radius: 5px;
		margin-right: 20px;
		text-decoration: none;
		position: relative;
		flex-shrink: 0;
		img{
			display: block;
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__txt{
		display: block;
		text-decoration: none;
	}
	&__name{
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		color: #324C9A;
		margin-bottom: 8px;
	}
	&__articul{
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		color: #333333;
		margin-bottom: 8px;
	}
	&__price {
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 28px;
		color: #333333;
		margin-bottom: 14px;

		span {
			color: #A4A9BB;
			font-size: 13px;
		}
	}
	&__nav{
		position: relative;
		width: 88px;
		margin-left: 32px;
	}
	&__preview{

	}
	&__row{
		display: grid;
		grid-template-columns: repeat(auto-fill,340px);
		grid-gap: 30px 20px;
	}
	.slider-season__name{
		font-size: 20px;
		line-height: 32px;
		display: flex;
		justify-content: space-between;
	}
	.btn{
		max-width: 178px;
		width: 100%;
		margin-left: auto;
		padding: .688rem .75rem;
	}
	.swiper-container-collection{
		overflow: hidden;
	}
	.swiper-slide {
		height: calc((100% - 30px) / 2);
	}
	.swiper-button-next,
	.swiper-button-prev {
		width: 44px;
		height: 44px;
		background-color: #fff;
		border: 1px solid #A4A9BB;
	}

	.swiper-button-prev {
		right: 44px;
		left: auto;
		border-radius: 4px 0 0 4px;
	}

	.swiper-button-next {
		right: 0;
		transform: rotate(180deg);
		border-radius: 4px 0 0 4px;
	}
}