.slider-tabs {
    margin-bottom: 52px;
    overflow: hidden;
    &--landing3 {
        margin-bottom: 87px;
        .slider-block__header {
            margin-bottom: 45px;
        }
        .slider-block__title {
            color: #fff;
            font-weight: bold;
            font-size: 48px;
            line-height: 36px;
        }
        .slider-tabs__caption li.active {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
        }
        .slider-tabs__caption li {
            font-size: 48px;
            line-height: 36px;
            color: #fff;
            padding: 10px 14px;
        }
        .products__item {
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
        }
        .btn.btn-outline-secondary {
            color: #fff;
            border-color: #fff;
        }
        .slider-tabs__body{
            position: relative;
            padding-top: 40px;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
               
                background-image: url(../img/slider-populary-decor-line.svg);
                background-repeat: no-repeat;
                background-size: 100% 20px;
                width: 100%;
                height: 40px;
            }
        }
        .swiper-wrapper {
           
            
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                background-image: url(../img/slider-populary-decor-line.svg);
                background-repeat: no-repeat;
                background-size: 100% 20px;
                width: 100%;
                height: 40px;
            }
        }
        .swiper-slide{
            padding: 0 10px;
            &:nth-child(5n + 1) {
                .products{
                    transform: skew(-3deg, 3deg);
                    margin-top: -5px;
                }
                
            }
            &:nth-child(5n + 2) {
                .products{
                    transform: skew(-2deg, 2deg);
                    margin-top: 5px;
                }
               
            }
            &:nth-child(5n + 3) {
                .products{
                    margin-top: 10px;
                }
                
            }
            &:nth-child(5n + 4) {
                .products{
                    transform: skew(2deg, -2deg);
                    margin-top: 5px;
                }
               
            }
            &:nth-child(5n + 5) {
                .products{
                    margin-top: -5px;
                    transform: skew(3deg, -3deg);
                }
               
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            background-color: transparent !important;
            border: 1px solid #fff !important;
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
            content: "";
            width: 100%;
            height: 100%;
            color: #999;
            background-image: url(../img/icons-sprite.svg#slider-arrow-light) !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
        .btn {
            margin-left: auto;
        }
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
        color: #000000;
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(203px, 1fr));
        grid-gap: 30px 28px;
    }
    &__nav {
        position: relative;
        width: 88px;
        margin-left: 32px;
    }
    &__caption {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 36px;
            color: #000000;
            padding: 5px 12px;
            cursor: pointer;
            transition: all 0.3s ease;
            &.active {
                background: rgba(68, 121, 163, 0.12);
                border-radius: 4px;
            }
            &:hover {
                transition: all 0.3s ease;
                opacity: 0.7;
            }
        }
    }
    &__content {
        display: none;
        &.active {
            display: block;
        }
    }

    .swiper-slide {
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #a4a9bb;
        margin: 0;
        top: 0;
    }

    .swiper-button-prev {
        right: 39px;
        left: auto;
        border-radius: 4px 0 0 4px;
    }

    .swiper-button-next {
        right: 0;
        transform: rotate(180deg);
        border-radius: 4px 0 0 4px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        content: "";
        width: 100%;
        height: 100%;
        color: #999;
        background-image: url("../img/icons-sprite.svg#slider-arrow");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
    }
    @include r(1023) {
        &--landing3 {
            .slider-tabs__caption li {
                font-size: 40px;
                line-height: 50px;
            }
            .swiper-wrapper{
                &::before{
                    content: '';
                    position: absolute;
                    top: 460px;
                    left: 0;
                    transform: translate(0, 0);
                    background-image: url(../img/slider-populary-decor-line.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 20px;
                    width: 100%;
                    height: 40px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 970px;
                    left: 0;
                    transform: translate(0, 0);
                    background-image: url(../img/slider-populary-decor-line.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 20px;
                    width: 100%;
                    height: 40px;
                }
                .swiper-slide{
                    &:nth-child(n+10){
                        display: none;
                    }
                    &:nth-child(5n + 1) {
                        margin-top: 0;
                        transform: skew(0, 0);
                    }
                    &:nth-child(5n + 2) {
                        margin-top: 0;
                        transform: skew(0, 0);
                    }
                    &:nth-child(5n + 3) {
                        margin-top: 0;
                        transform: skew(0, 0);
                    }
                    &:nth-child(5n + 4) {
                        margin-top: 0;
                        transform: skew(0, 0);
                    }
                    &:nth-child(5n + 5) {
                        margin-top: 0;
                        transform: skew(0, 0);
                    }
                    &:nth-child(3n + 1) {
                        transform: skew(-3deg, 3deg);
                        margin-top: 0;
                    }
                    &:nth-child(3n + 2) {
                        transform: skew(0, 0);
                        margin-top: 8px;
                    }
                    &:nth-child(3n + 3) {
                        transform: skew(2deg, -2deg);
                        margin-top: 0;
                    }
                    &:nth-child(3n + 4) {
                        transform: skew(-2deg, 2deg);
                        margin-top: 0;
                    }
                    &:nth-child(3n + 5) {
                        margin-top: 8px;
                        transform: skew(0, 0);
                    }
                }
            }
            .btn {
                display: block!important;
                margin: 0 auto;
                &.btn--footer{
                    width: fit-content;
                }
            }

        }
        &__nav {
            display: none;
        }
        &__body {
            display: block;
        }
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
            grid-gap: 34px;
        }
        .swiper-slide {
            height: auto;
        }
        .btn {
            display: none;
        }
    }
    @include r(767) {
        .swiper-wrapper {
            grid-template-columns: 1fr 1fr;
            grid-gap: 22px;
        }
        &--landing3 {
            .slider-tabs__caption{
                border-bottom: 1px solid #40BEB7;
                width: 100%;
            }
            .slider-tabs__caption li {
                font-size: 24px;
                line-height: 32px;
                border-radius: 0!important;
                margin-bottom: 0;
                position: relative;
                &.active{
                    background-color: transparent;
                    &:before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: #fff;
                    }
                }
            }
            .swiper-wrapper{
                grid-gap: 10px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 460px;
                    left: 0;
                    transform: translate(0, 0);
                    background-image: url(../img/slider-populary-decor-line.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 20px;
                    width: 100%;
                    height: 40px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 948px;
                    left: 0;
                    transform: translate(0, 0);
                    background-image: url(../img/slider-populary-decor-line.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 20px;
                    width: 100%;
                    height: 40px;
                }
                .swiper-slide{
                    margin: 0 auto;
                    max-width: 260px;
                    &:nth-child(n+7){
                        display: none;
                    }

                }
            }
        }
    }
    @include r(450) {
        .swiper-wrapper {
            grid-template-columns: 1fr;
        }
    }
}
