.stick{
	display: flex;
	&__item{
		text-transform: uppercase;
		font-size: 15px;
		line-height: 20px;
		color: #FFFFFF;
		border-radius: 4px;
		padding: 3px 7px 1px;
		margin-right: 6px;
        cursor: pointer;
        width: fit-content;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        text-decoration: none!important;
        &:hover{
            opacity: .7;
        }
		&:last-of-type{
			margin-right: 0;
		}
		&.hit{
			background: #F2C94C;
		}
		&.new{
			background: #2D9CDB;
		}
		&.spec{
			background: #6FCF97;
		}
		&.fix{
			background: #F2994A;
		}
        &.sale{
			background: #EB5757;
		}
		&.disabled{
			background: rgba(68, 121, 163, 0.12);
			color: #A4A9BB;
		}
        .icon{
            width: 15px;
            height: 15px;
            margin: auto;
        }
	}
}