<div class="nav-scroller">
    <div class="container">
        <div class="nav-scroller__body">
            <div class="nav-scroller__menu">
                <a href="#">О компании</a>
                <a href="#">Доставка</a>
                <a href="#">Прайс-листы</a>
                <a href="#">Контакты</a>
            </div>
            <div class="header-delivery">
                <i class="icon icon-delivery"></i>Город отгрузки <span>Екатеринбург</span>
                <div class="header-delivery__modal">
                    <div class="header-delivery__close"></div>
                    <p>Выберите город, в котором осуществаляется отгрузка. Это важно, чтобы увидеть наличие цены и сроки доставки.</p>
                    <a href="#" class="btn btn-primary">Все верно</a> <a href="#" class="btn btn-link" data-remodal-target="delivery">Выбрать город</a>
                </div>
            </div>
            <div class="nav-scroller__app">
                <a href="#"><img src="./img/DownloadGalaCatalog.svg" width="119" height="32" alt=""></a>
                <a href="#"><img src="./img/DownloadAppStore.svg" width="96" height="32" alt=""></a>
                <a href="#"><img src="./img/DownloadGooglePlay.svg" width="96" height="32" alt=""></a>
            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="#" class="header__logo">
                <img src="./img/logo-gala.png" width="295" height="51" alt="">
            </a>
            <div class="header__search">
                <form action="">
                    <input type="text" class="form-control" placeholder="Поиск">
                    <input type="submit" class="header__search-btn" value="">
                </form>
            </div>
            <div class="header-delivery">
                <i class="icon icon-delivery"></i>Город отгрузки <span>Екатеринбург</span>
                <div class="header-delivery__modal">
                    <div class="header-delivery__close"></div>
                    <p>Выберите город, в котором осуществаляется отгрузка. Это важно, чтобы увидеть наличие цены и сроки доставки.</p>
                    <a href="#" class="btn btn-primary">Все верно</a> <a href="#" class="btn btn-link" data-remodal-target="delivery">Выбрать город</a>
                </div>
            </div>
            <div class="header__phone">
                <a href="tel:88005001842">8 (800) 500-18-42</a>
                <span>Обратный звонок</span>
            </div>

            <div class="header__auth">
                <a href="#"><i class="icon icon-login"></i>Вход</a>
                <a href="#">Регистрация</a>
            </div>
        </div>
        <div class="header__bottom">
            <button class="btn btn-primary"><i class="icon icon-burger-light"></i>Каталог товаров</button>
            <div class="header__search">
                <form action="">
                    <input type="text" class="form-control" placeholder="Поиск">
                    <input type="submit" class="header__search-btn" value="">
                </form>
            </div>
            <div class="header__auth">
                <a href="#"><i class="icon icon-login"></i></a>
                <a href="#"><i class="icon icon-basket-btn"></i></a>
            </div>
            <div class="nav">
                <button id="js-menu-dropdown" class="nav__burger"></button>
                <ul class="dropdown-content">
                    <li><a href="#">Поставщикам</a></li>
                    <li><a href="#">Поставщикам</a></li>
                    <li><a href="#">Интеграция</a></li>
                    <li><a href="#">Скачать</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#"><i class="icon icon-empire"></i>Империя МПР</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>


