@import "partials/normalize";
@import "partials/jquery.fancybox";
@import "partials/swiper-bundle";
@import "partials/formstyler";
@import "partials/formstyler.theme";
@import "partials/remodal";
@import "partials/remodal-default-theme";
@import "partials/priority-nav-core";
@import "mixin";
@import "fonts";
@import "icon";
@import "buttons";
@import "form";
@import "table";
@import "tabs";
@import "alert";
@import "remodal";

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: $font1;
    &.lock {
        overflow: hidden;
    }
    &.haberdashery {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #fff8db;
        }
    }
    &.bg-2 {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .btn-primary {
            background: #f1edf9;
        }
        .btn-primary {
            border-color: #f1edf9;
            color: #333;
        }
    }
    &.presents {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #fff0f9;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, #fff0 34.21%, #fff0f999 81.63%);
        }
    }
    &.posuda {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #effbff;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(239, 248, 255, 0) 40.03%, #87a5bc 81.63%);
        }
    }
    &.hoztovary {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #f2ffe0;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #aebb9c 81.63%);
        }
    }
    &.sport {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #fff5e5;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #fff5e5 81.63%);
        }
    }
    &.appliances {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #f9f1f2;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(249, 241, 242, 0) 40.03%, #c59ea3 81.63%);
        }
    }
    &.instruments {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #fff1e7;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #fff1e7 81.63%);
        }
    }
    &.stationery {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #f8f4ff;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #f8f4ff 81.63%);
        }
    }
    &.dacha {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #f1f5eb;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #f1f5eb 81.63%);
        }
    }
    &.goodskids {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #fffdd7;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #fffdd7 81.63%);
        }
    }
    &.hometextiles {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #f1f3ff;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #f1f3ff 81.63%);
        }
    }
    &.plumbing {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #f2feff;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #f2feff 81.63%);
        }
    }
    &.avto {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #f1edf9;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #f1edf9 81.63%);
        }
    }
    &.housechemicals {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #ecf4ff;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #ecf4ff 81.63%);
        }
    }
    &.flavors {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #edf6f8;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #edf6f8 81.63%);
        }
    }
    &.tourism {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #f3eae3;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #f3eae3 81.63%);
        }
    }
    &.electronics {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #efe9d8;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #efe9d8 81.63%);
        }
    }
    &.newyear {
        .header,
        .footer,
        .filter__item,
        .btn-secondary,
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #31c595;
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #31c595 81.63%);
        }
        .nav ul li a,
        .catalog-section__name,
        .catalog-section__count,
        .slider-tabs__caption li,
        .subscribe__title,
        .footer__nav a,
        .footer__copy p,
        .footer__social-title,
        .footer__app-title,
        .footer__copy a,
        .footer__info span,
        .footer__info a,
        .footer__info p,
        .header__phone a,
        .header__phone span,
        .header__auth a,
        .products .btn,
        .products .btn span {
            color: #ffffff;
        }
        .slider-tabs__caption li {
            color: #333;
            &.active {
                color: #ffffff;
            }
        }
        .btn.btn-primary {
            background: #ffffff;
            border-color: #fff;
            color: #324c9a;
        }
        .products__name {
            color: #039a69;
        }
        .btn.btn-outline-secondary {
            color: #333;
            border-color: #eb5757;
        }
        .btn.btn-outline-secondary:hover {
            color: #fff;
            background-color: #eb5757;
            border-color: #eb5757;
        }
        .slider-tabs,
        .slider-populary,
        .selections-goods {
            .swiper-button-next,
            .swiper-button-prev {
                background-color: #eb5757;
            }
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
            content: "";
            width: 100%;
            height: 100%;
            color: #999;
            background-image: url("../img/icons-sprite.svg#slider-arrow-light");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
        }
    }
    &.lending1{
        .header,
        .footer{
            background-color: #FFFEEC;
        }
        
    }
    &.lending2{
        .header,
        .footer{
            background-color: #F3FFD7;
        }
        
    }
    &.catalog-table{
        .filter__btn{
            background-color: #F1EDF9;
            border-color: #F1EDF9;
        }
        .breadcrumb-catalog__dropdown-toggle{
            background-color: #F1EDF9;
        }
        .btn.btn-light,
        .products .btn{
            background-color: #F1EDF9;
        }
        .btn.btn-outline-primary.active{
            background-color: #fff;
        }
        .filter__item,
        .header,
        .footer{
            background-color: #F1EDF9;
        }
    }

    &.landing3 {
        background-color: #046B72;
        .header,
        .footer,
        .filter__item,
        
        .btn-light,
        .breadcrumb-catalog__dropdown-toggle,
        .slider-tabs__caption li.active,
        .catalog-section__item,
        .subscribe {
            background: #40BEB7
        }
        .selections-goods__txt {
            background: linear-gradient(158.63deg, rgba(242, 255, 224, 0) 40.03%, #aebb9c 81.63%);
        }
        .nav-scroller{
            background-color: #046B72;
        }
        .nav-scroller__menu a,
        .header-delivery span,
        .header-delivery,
        .header__phone a,
        .header__phone span,
        .header__auth a,
        .nav ul li a,
        .footer__copy p,
        .footer__nav a,
        .footer__social-title,
        .footer__app-title,
        .footer__copy a,
        .footer__info span,
        .footer__info a,
        .footer__info p{
            color: #fff;
        }
    }
}

.wrp {
    overflow: hidden;
    position: relative;
}

.d-none {
    display: none;
}
.d-flex{
    display: flex;
}

.d-desktop-none {
    display: none;
    @include r(767) {
        display: block;
    }
}

.d-mobile-none {
    display: block;
    @include r(767) {
        display: none !important;
    }
}

.container {
    max-width: 1392px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.w100 {
    width: 100%;
}
.w860 {
    max-width: 860px;
}

.mb-80 {
    margin-bottom: 80px;
}
.mb-60 {
    margin-bottom: 60px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
    width: 100%;
    height: 100%;
    color: #999;
    background-image: url("../img/icons-sprite.svg#slider-arrow");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}
ul {
    padding-left: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    li {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #333333;
        margin-bottom: 10px;
    }
}
.text-warning {
    color: #F2994A;
}
.text-danger{
    color: #eb5757;
}
.text-link{
    color: #324c9a;
}
.text-white{
    color: #fff;
}

.text-success {
    color: #6fcf97;
}
.text-muted {
    color: #a4a9bb;
}
.text-center {
    text-align: center;
}

p {
    color: #333;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.d-block {
    display: block;
}

.overdraw {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 14, 61, 0.24);
    z-index: 50;
    display: none;
    &.open {
        display: block;
    }
}
hr {
    border-color: rgba(0, 0, 0, 0.08);
}

.fancybox-bg {
    background: rgba(1, 14, 61, 0.7);
}
.fancybox-button {

    &--arrow_left {
        background-color: transparent;
        width: 22px!important;
        height: 44px!important;
        position: relative;
        padding: 0!important;
        left: 20px!important;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/icons-sprite.svg#icon-arrow-funcy");
            background-size: 100%;
        }
        & > div {
            display: none;
        }
    }
    &--arrow_right {
        background-color: transparent;
        width: 22px!important;
        height: 44px!important;
        position: relative;
        padding: 0!important;
        right: 20px!important;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/icons-sprite.svg#icon-arrow-funcy");
            background-size: 100%;
            transform: rotate(180deg);
        }
        & > div {
            display: none;
        }
    }
}

//Шапка
@import "componets/header";

//Шапка доставка
@import "componets/header-delivery";

//Главная навигация
@import "componets/nav";

//Подвал
@import "componets/footer";

//внутряняя стрница
@import "componets/main";

//Хлебные крошки
@import "componets/breadcrumb";

//Страница 404
@import "componets/page404";

//Меню скролл
@import "componets/nav-scroller";

//Слайдер банеров на главной
@import "componets/slider-banners";

//Слайдер банеров под главным слайдером
@import "componets/slider-banners-bottom";

//Слайдер брендов
@import "componets/slider-brands";

//Каталог секции на главной
@import "componets/catalog-section";

//Статьи
@import "componets/articles";

//Сезонные предложения
@import "componets/slider-season";

//Возможности на главной
@import "componets/capability";

//Популярные товары
@import "componets/slider-populary";

//Новинки и Хиты
@import "componets/slider-tabs";

//Слайдер коллекции
@import "componets/slider-collection";

//Товар
@import "componets/products";

//Получайте выгодные предложения
@import "componets/subscribe";

//Стики для карточек
@import "componets/stick";

//Выподающее поле для поиска
@import "componets/form-dropdawn";

//Меню
@import "componets/menu";

//Выподающее поле для поиска
@import "componets/registration";

//Пользовательское соглашение
@import "componets/agreement";

//Сервисы
@import "componets/services";

//Сервисы интеграция с api
@import "componets/api-integration";

//Партнерам
@import "componets/partners";

//Блок сотрудничества
@import "componets/cooperation";

//FAQ
@import "componets/faq";

//Аккордион
@import "componets/accordeon";

//Материалы
@import "componets/materials";

//Прайс лист
@import "componets/price-list";

//Прайс лист блок для слайдера
@import "componets/slider-price-list";

//Контакты
@import "componets/contacts";

//Оплата и доставка
@import "componets/delivery";

//Карточки с картой
@import "componets/card-maps";

//О компании
@import "componets/about-us";

//9 Федеральных округов
@import "componets/federal-districts";

//Сервисные центры
@import "componets/service-centres";

//Блок специолистов
@import "componets/specialist";

//Аккаунт
@import "componets/account";

//Состояние аккаунта
@import "componets/state-account";

//магазин аккаунта
@import "componets/card-shop";

//Блок для слайдера
@import "componets/slider-block";

//Ссылки навигации
@import "componets/nav-link";

//Блоки для статей
@import "componets/articles-block";

//Статья детально
@import "componets/articles-details";

//Пагинация
@import "componets/pagination";

//Фильтр
@import "componets/filter";

//Информация от таваре
@import "componets/information";

//Переключение
@import "componets/switch-mode";

//При на ведение на картинку продукта
@import "componets/slider-preview-product";

//Добавьте нужное количество в выбранный магазин
@import "componets/add-quantity-store";

//Колличество товаров плюс минус
@import "componets/count-number";

//Каталог детально
@import "componets/catalog-detail";

//Цена спецпредложения
@import "componets/price-special";

//Товар участвует в акциях
@import "componets/participate-promotions";

// Каталог информация о цене количестве и тд
@import "componets/catalog-info";

// Сео текст
@import "componets/seo-text";

// Подборки товаров
@import "componets/selections-goods";

// Отзывы
@import "componets/reviews";

// Сертификаты
@import "componets/sertificat";

// Другие склады
@import "componets/other-store";

// API
@import "componets/api";

// Мобильное меню каталога
@import "componets/menu-mobile";

// История заказов
@import "componets/account-history-order";

// Пользовательское меню в мобиле
@import "componets/menu-user";

// Каталог
@import "componets/catalog";

// Каталог
@import "componets/landing3";

// Подборки товаров 2022 года!
@import "componets/selections-years";