@import 'partials/normalize';
@import 'partials/swiper-bundle';
@import 'partials/formstyler';
@import 'partials/formstyler.theme';
@import 'partials/remodal';
@import 'partials/remodal-default-theme';
@import 'mixin';
@import 'fonts';
@import 'icon';
@import 'buttons';
@import 'form';


@import 'remodal';

* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: $font1;
	&.lock {
		overflow: hidden;
	}
	&.bg-1{
		background: #F1F5F9;
	}
	&.bg-2{
		background: #FFF8DB;
	}
	&.bg-3{
		background: #FFF0F9;
	}
	&.bg-4{
		background: #FFF0F9;
	}
	&.bg-5{
		background: #FFF5E5;
	}
	&.bg-6{
		background: #F9F1F2;
	}
	&.bg-7{
		background: #FFF1E7;
	}
	&.bg-8{
		background: #F1F5EB;
	}
	&.bg-9{
		background: #FFFDD7;
	}
	&.bg-10{
		background: #F2FEFF;
	}
	&.bg-11{
		background: #F1EDF9;
	}
	&.bg-12{
		background: #ECF4FF;
	}
	&.bg-13{
		background: #EDF6F8;
	}
	&.bg-14{
		background: #F3EAE3;
	}
	&.bg-15{
		background: #EFE9D8;
	}
	&.bg-16{
		background: #31C595;
	}
}

.wrp {
	overflow: hidden;
}

.d-none {
	display: none;
}

.d-desktop-none {
	display: none;
	@include r(767) {
		display: block;
	}
}

.d-mobile-none {
	display: block;
	@include r(767) {
		display: none !important;
	}
}

.container {
	max-width: 1392px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.w100 {
	width: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	content: '';
	width: 100%;
	height: 100%;
	color: #999;
	background-image: url("../img/icons-sprite.svg#slider-arrow");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
}


//Шапка
@import "componets/header";

//Шапка доставка
@import "componets/header-delivery";

//Главная навигация
@import "componets/nav";

//Подвал
@import "componets/footer";

//внутряняя стрница
@import "componets/main";

//Хлебные крошки
@import "componets/breadcrumb";

//Страница 404
@import "componets/page404";

//Меню скролл
@import "componets/nav-scroller";

//Слайдер банеров на главной
@import "componets/slider-banners";

//Слайдер банеров под главным слайдером
@import "componets/slider-banners-bottom";

//Слайдер брендов
@import "componets/slider-brands";

//Каталог секции на главной
@import "componets/catalog-section";

//Статьи
@import "componets/articles";

//Сезонные предложения
@import "componets/slider-season";

//Возможности на главной
@import "componets/capability";

//Популярные товары
@import "componets/slider-populary";

//Новинки и Хиты
@import "componets/slider-tabs";

//Слайдер коллекции
@import "componets/slider-collection";

//Товар
@import "componets/products";

//Получайте выгодные предложения
@import "componets/subscribe";

//Стики для карточек
@import "componets/stick";

//Выподающее поле для поиска
@import "componets/form-dropdawn";

//Выподающее поле для поиска
@import "componets/menu-big";

//Выподающее поле для поиска
@import "componets/registration";

//Пользовательское соглашение
@import "componets/agreement";

//Сервисы
@import "componets/services";

//Сервисы интеграция с api
@import "componets/api-integration";

//Партнерам
@import "componets/partners";

//Блок сотрудничества
@import "componets/cooperation";

//FAQ
@import "componets/faq";

//Аккордион
@import "componets/accordeon";