.icon-empire {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  background-image: url("../img/icons-sprite.svg#empire");
  vertical-align: middle;
}

.icon-burger {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  background-image: url("../img/icons-sprite.svg#icon-burger-light");
  vertical-align: middle;
}
.icon-login{
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  background-image: url("../img/icons-sprite.svg#login");
  vertical-align: middle;
}