.icon{
  display: inline-block;
  position: relative;
  margin-right: 14px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.icon-empire {
  background-image: url("../img/icons-sprite.svg#empire");
}

.icon-burger-light {
  background-image: url("../img/icons-sprite.svg#icon-burger-light");
}
.icon-burger-dark {
  background-image: url("../img/icons-sprite.svg#icon-burger-dark");
}
.icon-login{
  background-image: url("../img/icons-sprite.svg#login");
}
.icon-city{
  background-image: url("../img/icons-sprite.svg#icon-city-cart-light");
}
.icon-checkmark{
  background-image: url("../img/icons-sprite.svg#checkmark");
  width: 40px;
  height: 40px;
}

.icon-time{
  width: 21px;
  height: 21px;
  margin-right: 10px;
  background-image: url("../img/icons-sprite.svg#time");
}

.icon-email{
  background-image: url("../img/icons-sprite.svg#email");
}

.icon-slider-arrow-light{
  background-image: url("../img/icons-sprite.svg#slider-arrow-light");
}

.icon-stock{
  background-image: url("../img/icons-sprite.svg#stock");
}
.icon-anticrisis{
  background-image: url("../img/icons-sprite.svg#anticrisis");
}
.icon-delivery{
  background-image: url("../img/icons-sprite.svg#delivery");
}
.icon-basket-btn{
  background-image: url("../img/icons-sprite.svg#basket-btn");
}