.remodal{
	text-align: left;
	.remodal-close{
		right: 22px;
		top: 24px;
		left: auto;
		background-image: url("../img/icons-sprite.svg#close");
		width: 18px;
		height: 18px;
		&:before{
			display: none;
		}
	}

	&.delivery{
		background: #FFFFFF;
		box-shadow: 0px 4px 14px rgba(50, 76, 154, 0.25);
		border-radius: 4px;
		max-width: 370px;
		padding: 24px 24px 10px;
		.title{
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 28px;
			color: #000000;
			text-align: left;
			margin-bottom: 20px;
		}
		.select{
			width: 100%;
			margin: 24px 0;
		}
		.jq-selectbox li{
			text-align: left;
		}
		.jq-selectbox__select{
			height: 44px;
			line-height: 44px;
			background: #FFFFFF;
			border: 1px solid rgba(1, 14, 61, 0.32);
			box-sizing: border-box;
			border-radius: 4px;
		}
		.jq-selectbox__select-text{
			text-align: left;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			color: #333333;
		}
		.jq-selectbox__trigger{
			border-left: none;
		}
		.jq-selectbox__trigger-arrow{
			top: 20px;
			
		}
	}
    &.select-shop{
		background: #FFFFFF;
		box-shadow: 0px 4px 14px rgba(50, 76, 154, 0.25);
		border-radius: 4px;
		max-width: 370px;
		padding: 24px 24px 10px;
		.title{
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 28px;
			color: #000000;
			text-align: left;
			margin-bottom: 20px;
		}
		.select{
			width: 100%;
			margin: 24px 0;
		}
        .add-quantity-store__item{
            &:nth-child(even){
                background: #F9F1F2;
            }
        }
		.jq-selectbox li{
			text-align: left;
		}
		.jq-selectbox__select{
			height: 44px;
			line-height: 44px;
			background: #FFFFFF;
			border: 1px solid rgba(1, 14, 61, 0.32);
			box-sizing: border-box;
			border-radius: 4px;
		}
		.jq-selectbox__select-text{
			text-align: left;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			color: #333333;
		}
		.jq-selectbox__trigger{
			border-left: none;
		}
		.jq-selectbox__trigger-arrow{
			top: 20px;
			
		}
	}

	&.auth{
		text-align: left;
		background: #FFFFFF;
		box-shadow: 0px 4px 14px rgba(50, 76, 154, 0.25);
		border-radius: 4px;
		max-width: 370px;
		padding: 24px 24px 0;
		.title{
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 28px;
			color: #000000;
			text-align: left;
			margin-bottom: 27px;
		}
		.forgot-password{
			text-align: right;
			font-size: 13px;
			line-height: 20px;
			color: #324C9A;
			text-decoration: none;
			display: block;
			&:hover{
				opacity: .7;
			}
		}
		.btn-registration{
			background: rgba(201, 67, 84, 0.08);
			border-radius: 4px;
			color: #324C9A;
			width: calc(100% + 48px);
			margin-left: -24px;
		}
	}
    @include r(767){
        &.delivery{
            border-radius: 0;
            max-width: 100%;
            height: 100%;
        }
        &.auth{
            border-radius: 0;
            max-width: 100%;
            height: 100%;
        }
    }
}
.remodal-wrapper{
    padding: 0;
}